.header {
  font-family: 'Inter', sans-serif;
  padding-top: 24px;
}

.header__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  margin-top: 40px;
  margin-bottom: 77px;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  height: 32px;
  width: 110px;
}

@media screen and (max-width: 576px) {
  .header {
    padding-top: 17px;
  }

  .header__navigation {
    justify-content: center;
  }

  .header__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-5);
    margin-top: 49px;
    margin-bottom: 69px;
  }
}