.card {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
}

.card__context {
  flex-grow: 1;
  display: grid;
  place-items: center;
  padding: 32px 25px 0;
}

.card__info {
  padding: 0 25px 32px;
}

.card__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: var(--black);
  margin: 0;
}

.card__sub-title {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--grey-5);
  margin-top: 6px;
}

@media screen and (max-width: 576px) {
  .card__context {
    padding: 16px 8px;
    border-bottom: 1px solid var(--grey-3);
  }

  .card__info {
    padding: 0 8px 8px;
  }

  .card__sub-title {
    font-size: 14px;
    line-height: 22px;
    color: var(--grey-3);
  }

  .card__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}