.modal {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(196, 196, 196, 0.5 );
  color: var(--grey-5);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 8px;
  padding: 30px 40px 33px;
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  color: var(--blue-3);
}

.modal__content {
  margin: 0;
  padding-top: 14px;
  color: var(--grey-5);
}

.modal__close-trigger {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  color: var(--grey-5);
}

.modal__window_preview {
  position: relative;
  transform: none;
  max-width: 200px;
  top: 0;
  left: 0;
  border: 1px solid var(--grey-3);
  pointer-events: none;
  padding: 1em;
}
