.histogram {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.histogram__header {
  padding: 16px 24px 39px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.histogram__title {
  margin: 0;
  color: var(--black);
  opacity: 0.8;
}

.histogram__sub-title {
  margin: 0;
  padding-top: 6px;
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
}

.histogram__toggler {
  margin: 0;
  padding-top: 3px;
  color: var(--blue-1);
  cursor: pointer;
}

.histogram__context {
  padding: 0 29px 24px 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1px;
  height: 50px;
}

.histogram__column {
  background: var(--blue-1);
  flex-grow: 1;
}