.footer {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
  padding-bottom: 136px;
}

.footer__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
}

.footer__description {
  max-width: 640px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}