.section {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--black);
}

.section__title {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  color: var(--black);
  padding-bottom: 16px;
}

.section__items {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.section__item_active {
  color: var(--red);
}

